
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    
  --primary:#FB2E86;  
  --mainfont:"Lato", sans-serif;
}
.btn{
 border: none;
 outline: border;  
 color: #fff; 
 background-color:FB2E86 ;
 padding: 16px 40px;
 border-radius: 2px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: calc(100% - 320px);
    margin: auto;
}
@media screen and (max-width:1400px){
    .container{
        width: calc(100% - 200px);
    }
}
@media screen and (max-width:992px){
    .container{
        width: calc(100% - 100px);
    }
}
@media screen and (max-width:576px){
    .container{
        width: calc(100% - 40px);
    }
}
.test-white{
    color: #fff;
}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}
.gap-1{
    gap: 5px;
}

.gap-2{
    gap: 23px;
}
.gap-3{
    gap: 46px;
}