body {
  font-family: var(--mainfont);
}
.header {
  padding: 57px 0;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.bar {
  display: none;
}
b .list a {
  color: #0d0e43;
}
.header .active {
  color: var(--primary);
}

.search form {
  border: 3px solid #e7e6ef;
  border-radius: 5px;
}

.search input {
  border: none;
  outline: none;
  width: 250px;
  padding-left: 9px;
}
.search button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 8px 13px;
}

@media screen and (max-width: 1200px) {
  .list,
  .header.search {
    display: none;
  }
  .bar {
    display: block;
  }
}
/* end header */

/* start hero section */
.hero img {
  width: 100%;
}

/* end hero section */

/* start products */
.featured-Products {
  padding: 50px 0;
}
.featured-Products h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
  font-size: 36px;
}
.featured-Products .row {
  justify-content: flex-start;
  gap: 15px;
}
.product {
  position: relative;
}
.icons {
  position: absolute;
  margin-left: 10px;
  padding: 7px 0;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.9s;
  gap: 15px;
  z-index: 10;
}

.product:hover .icons {
  opacity: 1;
  top: 10px;
  transform: translateY(0);
  color: #2f1ac4;
}

.featured-Products .product {
  flex-grow: 1;
  flex-basis: 280px;
  flex-shrink: 0;

  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
}
.product .img {
  position: relative;
  background-color: #f6f7fb;
  padding: 30px;
  height: 230px;
  text-align: center;
}

.viw {
  position: absolute;
  top: calc(100% - 35px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s;
}
.product:hover .viw {
  opacity: 1;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
}
.color-one {
  background-color: #05e6b7;
}
.color-two {
  background-color: #f701a8;
}
.color-three {
  background-color: #00009d;
  transition: all 0.6s;
}
.color {
  width: 20px;
  height: 6px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.product-details h3 {
  transition: all 0.6s;
}
.product-details {
  transition: all 0.6s;
}
.product:hover .product-details {
  background-color: #2f1ac4;
  border-radius: 2px;
}
.product-info span {
  transition: all 0.9 s;
}
.product:hover .product-details h3 {
  color: #fff;
}
.product:hover .color-three {
  background-color: #ffeac1;
}
.product:hover .product-info span {
  color: white;
}

/* end products */

/* start leatest product */
.leatest-img-products {
  position: relative;
}
.leatest-img-products .icons {
  position: absolute;
  display: flex;
  flex-direction: column;

  cursor: pointer;
  margin-left: 1px;
  margin-top: -150px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.9s;
  color: rgb(39, 39, 151);
}

.leatest-img-products:hover .icons {
  opacity: 1;
}
.leatest-Products {
  padding: 50px 0;
}
.leatest-Products h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
  font-size: 36px;
}
.list-lproduct {
  display: flex;
  justify-content: center;
  width: 100%;
}
.leatest-Products .row {
  justify-content: flex-start;
  align-items: stretch;
}

.list-lproduct a {
  color: #151875;
}
.list-lproduct ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 5px;
  font-size: 18px;
}
.leatest-Products .active {
  color: var(--primary);
}
.leatest-Products .row {
  justify-content: flex-start;
  gap: 15px;
}

.leatest-Products .lproduct {
  position: relative;
  flex-grow: 1;
  flex-basis: 280px;
  flex-shrink: 0;
  padding-top: 20px;
  border-radius: 4px;
 
}
.leatest-Products .lproduct .leatest-img-products {
  background-color: #f7f7f7;
  padding: 32px;
  height: 290px;
  text-align: center;
 
}

.detailss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.text-detail {
  color: #1a0b5b;
}

.price {
  display: flex;
  gap: 8px;
}

.price .current {
  color: #1a0b5b;
}

.price .old {
  color: var(--primary);
  text-decoration: line-through;
}

.lproduct {
  position: relative;
}
.badge-sale {
  position: absolute;
  top: 50px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.lproduct:hover .leatest-img-products {
  background-color: transparent;
}
.lproduct:hover .leatest-img-products img {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 4px;
}
.lproduct:hover .badge-sale {
  opacity: 1;
}
/* end  leatest product*/


/* start What Shopex Offer! */

.What-Shopex-Offer {
  padding:50px 0;
}
.What-Shopex-Offer  h2 {
  margin-bottom: 40px;
   margin-top: -10px;
  color: #1a0b5b;
  font-size: 36px;
}

.What-Shopex-Offer .row {
  justify-content: flex-start;
  gap: 25px;
}

.What-Shopex-Offer .card {
  flex-grow: 1;
  flex-basis: 280px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
 margin-bottom: 50px;
 transition: transform 0.5s ;
}
.What-Shopex-Offer .card:hover{
  transform: translateY(-5px) scale(1.03); 
  cursor: pointer; 
}
.card .img {
  padding: 40px;
  height: 250px;
  text-align: center;
}

.card .card-details h3{
  margin-top: 10px;
  color: #1A0B5B;
}
.card .card-details p{
  margin-top: 10px;
 color: #7a7a7a; 
}

/* end What Shopex Offer! */

/*start  Trending-Products */

.Trending-Products {
  padding: 70px 0;
}
.Trending-Products h2 {
  margin-bottom: 40px;
  color: #151875;
  font-size: 35px;
}
.Trending-Products .row {
  justify-content: flex-start;
  gap: 15px;
}

.Trending-Products .product {
  flex-grow: 1;
  flex-basis: 280px;
  flex-shrink: 0;
padding: 10px;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
}
.Trending-Products .product .img {

  background-color: #f6f7fb;
  padding: 20px;
  height: 230px;
  text-align: center;


}

.Trending-Products .product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
}
.Trending-Products .product-details .product-info .text-secondry{
 margin-top: 10px;
display: flex;
justify-content: center;
flex-direction: row;
}
.Trending-Products .product-details h3 {
color: #151875;
 margin-top: 10px;
}



.product-info{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}


.product-info .old{
 color: #7a7a7a; 
  text-decoration: line-through;
}
 .Trending-Products .shopnow{
background-color: #FFF6FB;
padding-left: 25px;
 }
 .Trending-Products .shopnow .trending-details{
display: flex;
flex-direction: column;

  margin-top: 20px;
  color: #151875;
  font-size: 23px;
 }
.Trending-Products .shopnow .trending-details h3{
  margin-right: 100px;
}
  .Trending-Products .shopnow .trending-details span{
  margin-top: 10px;
  margin-right: 260px;
 color: var(--primary);
text-decoration: underline; } 
 .Trending-Products .shopnow .trending-img{
margin-left: 170px;
 }


 .Trending-Products .shopnow2{
background-color: #FFF6FB;
padding-left: 40px;
margin-left: 20px;
height: 296px;
 }
 .Trending-Products .shopnow2 .trending-details{
display: flex;
flex-direction: column;

  margin-top: 20px;
  color: #151875;
  font-size: 23px;
 }
.Trending-Products .shopnow2 .trending-details h3{
  margin-right: 130px;
}
  .Trending-Products .shopnow2 .trending-details span{
  margin-top: 10px;
  margin-right: 230px;
 color: var(--primary);
text-decoration: underline; } 
 .Trending-Products .shopnow2 .trending-img{
margin-left: 50px;
margin-top: 30px;
 }
  .Trending-Products .executive .execontent{
display: flex;
color: #151875;
margin-right: 8px;
 }

  .Trending-Products .executive .execontent img{
    padding: .0000006px;
    background-color: #F5F6F8;
    padding: 10px;

margin-top: 10px;
  }
   .Trending-Products .executive .execontent .content{
    padding: 20px;
   }
  .Trending-Products .executive .execontent .content .old{
   text-decoration: line-through;

margin-right: 120px;

  }

/* .Trending-Products .executive .execontent .content{
  display: flex;
} */
 /* .Trending-Products .executive .execontent img{
  padding: 10px;
 } */
/* end Trending-Products */
/*  start newslater */

.newslater {
  background-image: url("./photos/newslater.webp");
  padding: 175px 0;
  text-align: center;
}
.newslater h2 {
  margin-bottom: 50px;
  color: #151875;
  font-size: 35px;
  background-attachment: scroll;
}
.shop-btn {
  transition: all 0.5s;
}
.shop-btn:hover {
  background-color: #151875;
}
/* end newslater */

/* start clients */
.clients {
  padding: 50px 0;
}
.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}
.clients .logo {
  width: calc((100% - 75px) / 6);
}
.clients img {
  width: 10 0%;
}
@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
/* end clients */
/* start Leatest-Blog */
.Leatest-Blog {
 
  padding: 90px 0;
}
.Leatest-Blog h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.Leatest-Blog .row {
  display: flex;
  justify-content: flex-start;
  gap: 30px; 
}

.Leatest-Blog .blog {

  flex-grow: 1;
  flex-basis: 280px;
  flex-shrink: 0;
padding: 0;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
}

.Leatest-Blog .img {
  width: 100%;      
  height: 250px;     
 
}


.Leatest-Blog .img img {
  width: 100%;
  height: 100%;
 
}


.blog-details .describtion .name{
  margin-left: 10px;
 display: flex;
  gap: px;           
  font-size: 12px;
 color: #151875;
}
.blog-details .describtion .data-blog{
 display: flex;
  gap: 7px;          
  font-size: 12px;
   color: #151875;
 
}
.blog-details .describtion{
   display: flex;
  gap: 30px;  
margin-top: 15px;
}
.blog-details .info-blog h2 {
  margin-top: 15px;
  color: #1a0b5b;
  font-size: 18px;
 margin-right: 120px;
font-weight: 700;
}
.blog-details .info-blog p {
  margin-top: -50px;
  color:#72718F;
  font-size: 16px;
 margin-left: -10px;
padding: 30px;

}
.blog-details .info-blog a {
  margin-top: -50px;
  color: 151875;
  font-size: 16px;
 margin-left: -10px;
padding: 30px;
text-decoration: underline;
  text-decoration-color: #151875; 
  text-decoration-thickness: 2px;
}
.Leatest-Blog .blog:hover .info-blog{
  h2{
    color: var(--primary);
  }
  a{
    color: var(--primary);
    text-decoration-color: var(--primary);
  }
}
.Leatest-Blog .blog {
  transition: transform 0.3s ; 
}

.Leatest-Blog .blog:hover {
  transform: scale(1.05);  

}



/* end Leatest-Blog*/
/* start footer */
.footer {
  background-color: #eeeffb;
  padding: 50px 0;
}
.footer a,
.address-info {
  color: #8a8fb9;
}
.footer .row {
  gap: 30px;
  align-items: flex-start;
}
.footer .left-side {
  align-items: flex-start;
  gap: 35px;
  width: calc((100% - 30px) / 2);
}
.footer .right-side {
  width: calc((100% - 30px) / 2);
}

.footer .right-side .row {
  gap: 35px;
}
.footer-item {
  gap: 45px;
  width: calc((100% - 70px) / 3);
}
@media screen and (max-width: 992px) {
  .footer .left-side,
  .footer .right-side {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
}
/* end footer */
